.about {
    margin-bottom: 90px;
    margin-top: 2px;
}

.about__header {
    height: 226px;
    width: 100%;
    background-image: url(https://m2.alothemes.com/safira/static/version1654241668/frontend/Alothemes/safira/en_US/images/bkg_breadcrumbs.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.about__header-content {
    
}

.about__header-title {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 32px;
}

.about__header-item {
    font-size: 1.6rem;
    display: flex;
    list-style: none;
    padding: 0;
}

.about__header-item--home {
    padding-right: 20px;
}

.about__header-item--home a {
    color: var(--text-color);
    text-decoration: none;
}

.about__header-item--home:hover a {
    color: var(--primary-color);
}

.about__header-item--home::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 10px;
}

.about__header-item--about {
    color: var(--primary-color);
    font-weight: 600;
    /* padding-left: 20px; */
}

.about__container {

}

.about__top {
    
}

.about__row {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 75px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ebebeb;
    
}



.about__image {

}

.about__img {
    width: 570px;

}

.about__content {
    padding: 0 20px;
}

.about__phrase:first-child {
    margin-bottom: 36px;
}

.about__phrase h3 {
    font-size: 2.6rem;
    color: var(--title-color);
    font-weight: 400;
    margin-bottom: 16px;
}

.about__phrase p {
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 3rem;
    text-align: justify;
}

.about__choose-us {
    
}

.choose-us__content {
    margin-bottom: 75px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ebebeb;
}

.choose-us__primary {
    text-align: center;
    margin-bottom: 70px;
}

.choose-us__primary h3 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--title-color);
    line-height: 3rem;
    padding-bottom: 8px;
}

.choose-us__primary p {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 2rem;
}

.choose-us__list {
    display: flex;
    justify-content: space-around;
}

.choose-us__item {
    text-align: center;
    padding: 0 15px;
}

.choose-us__icon {
    display: inline-block;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    font-size: 70px;
    color: #fff;
    background-color: #17b0c7;
    text-align: center;
    line-height: 150px;
    margin-bottom: 30px;
}

.choose-us__item p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #444;
}

.about__location {

}

.about__map {
    margin-right: 1px;
    margin-left: 1px;
    padding: 0 15px;
    margin-bottom: 75px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ebebeb;
}

.about__map-image {
}

.img-map {
    width: 425px;
}

.about__map-desc {
    margin-top: 50px;
}

.about__map-text {

}

.about__map-text h3 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--title-color);
    line-height: 3rem;
    padding-bottom: 12px;
}

.about__map-text p {
    text-align: justify;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 30px;
}

.about__map-btn {
}

.about__map-link {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    line-height: 2rem;
    color: #fff;
    border: 1px solid;
    background-color: var(--primary-color);
    padding: 13px 26px;
    border-radius: 30px;
}


.about__our-team {

}

.about__our-team--content {

}

.about__our-team--primary {
    text-align: center;
    margin-bottom: 70px;
}

.about__our-team--primary h3 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--title-color);
    line-height: 3rem;
    padding-bottom: 8px;
}

.about__our-team--primary p {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 2rem;
}

.about__our-team--secondary {
    text-align: center;
}

.about__our-team--list {
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
}

.about__our-team--item {

}

.about__our-team--picture {
    margin-bottom: 20px;
}

.about__our-team--item .name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title-color);
    line-height: 3rem;
    padding-bottom: 8px;
}

.about__our-team--item .position {
    color: #888;
    font-size: 1.6rem;
}