:root {
    --white-color: #fff;
    --text-color: #333;
    --header-height: 240px;
    --navbar-height: 40px;
    --header-with-background-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.main {
    overflow: hidden;
}